@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

*
{
  font-family: 'Julius Sans One', sans-serif;
}

nav.top-bar
{
  background-color: grey;
  height: 100px;
}

.photo img
{
  border-radius: 10px;
  border: 1px single black;
  margin: 20px;
  margin-left: 0;
  display: inline-block;
  float: left;
}