<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Copyright Nicky Hughes 2013.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://nickyh.github.com/">Portfolio</a></li>
          <li><a href="http://nickyonrails.tumblr.com/">Tumblr</a></li>
          <li><a href="https://twitter.com/nichug00">Twitter</a></li>
          <li><a href="https://github.com/nickyh">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>