/ %h1 jquery!!
/ .one a
/ .one b
/ .one c
/ #two d

/ .one= text_field_tag 'name'
/ .one= submit_tag 'get name', :id => 'btn'

/ %p
/   .one= text_field_tag 'color'
/   .one= submit_tag 'get color', :id => 'btncolor'

/ %p
/   .one= submit_tag 'hide', :id => 'btnhide'
/   .one= submit_tag 'show', :id => 'btnshow'

%p
  .one= text_field_tag 'width'
  .one= text_field_tag 'length'
  .one= submit_tag 'Calculate', :id => 'btnarea'
  #answer