<form method='post' action='/planets'>
  Planet:
  <input type='text' value='name' name='planet[name]'>
  <br>
  Image:
  <input type='text' value='image' name='planet[image]'>
  <br>
  Orbit:
  <input type='text' value='orbit' name='planet[orbit]'>
  <br>
  Mass:
  <input type='text' value='mass' name='planet[mass]'>
  <br>
  Diameter:
  <input type='text' value='diameter' name='planet[diameter]'>
  <br>
  Moons:
  <input type='text' value='moons' name='planet[moons]'>
  <button>submit</button>
</form>