#x
#y

#text

= form_tag '/' do
  = text_field_tag 'name'
  = text_field_tag 'age'
  = submit_tag 'Enter Data'

%h1 h1

/ %h1 jquery advanced
/ .one#a 1a
/ .one#b 1b
/ .one#c 1c
/ .tow#d 2a
/ .two#e 2b
/ .list#f
/   %ul
/     %li#g a
/     %li#h b
/     %li#i c
/     %li#j
/       %p#k
/         %span#l super deep nesting
